body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}


.card {
    padding: 30px;
}

.main {
    display: flex;
    align-items: space-between;
}

.index {
    margin: 50px;
}

.footer{
    display: flex;
    justify-content: space-around;
}