<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> KRR WEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<header>
  <h2> <strong>KRR</strong> </h2>
</header>

<body class="index container">
  <div class="row main">
  <div class="col-6">
    <h2>Welcome :)</h2>
    <h4>This is a website where you calculate acoustic parameters of the room you are in. You can also upload or synthesize your own impulse response.</h4>
  </div>
  <div class="col-6">
    <img class="audio-img" src="{{ url_for('static',filename='img/waveform.jpg') }}" alt="">
  </div>
</div>
<p><br></p>
  <div class="row">
    <div class='col-2 container '>
      <div id="" class="list-group">
        <a class="list-group-item list-group-item-action" href="/">REC/PLAY</a>
        <a class="list-group-item list-group-item-action" href="/upload">UPLOAD AUDIO</a>
        <a class="list-group-item list-group-item-action" href="/synthesize">SYNTHESIZE</a>
        <a class="list-group-item list-group-item-action" href="/calibrate">CALIBRATE</a>
        <a class="list-group-item list-group-item-action" href="/about">ABOUT US</a>
      </div>
    </div>

    {% block content%}

    {% endblock %}


<footer class="footer page-footer font-small special-color-dark pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4">
          <h2>UNTREF <br> KRR</h2>
        </div>
        <div class="col-md-6 mb-4">
  
            <ul class="list-unstyled">
                <li>Kaplan - Rébora - Rodríguez Salinas</li>
                <li>krr@gmail.com</li>
                <li>+54 9 11 4046-4611</li>
              </ul>
      
            </div>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
</body>
</html>