{% extends "base/base.html" %}

{% block content %}
    <div class = "col-10 container">
      {% from "_macro.html" import render_field %}
        <form action="/calibrate" method="POST">
          <h2>In order to calibrate, define time in seconds and play this pink noise.</h2>
          <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ render_field(form.time, class="form-control")}}

            <button type="submit">Play</button>
        </form>
    </div>
  </div>

{% endblock %}
