{% extends "base/base.html" %}

{% block content %}
<div class = "col-10 container">
  {% from "_macro.html" import render_field %}
  <form id="rec-play"action="/" method="POST">
    <h2>Welcome!</h2>
    <h4>This is a website where you calculate acoustic parameters of the room you are in.<br> Good luck fella!</h4>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.time, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
      
      <div class="form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.freq1, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
      
      <div class="form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.freq2, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
    </div>
      <div class="col-12">
        <button type="submit">Record / Play</button>
      </div>
      <h4>After recording your audio, continue processing</h4>
      {% if flag %}
      <h4>This is what you 've recorded:</h4>
      <audio controls>
        <source src="{{ url_for('static',filename='audio/record.wav') }}" type="audio/wav">
      </audio>
    </form>
      <form id="upload"action="/processing" method="POST">
        <div class="col-12">
          <button type="submit">Process</button>
        </div>
      </form>
    {% endif %}
    
  
      
    </div>
  </div>
  
  {% endblock %}
  