{% extends "base/base.html" %}

{% block content %}
<div class = "col-10 container card bg-light">
  {% from "_macro.html" import render_field %}
  <form id="rec-play"action="/" method="POST">

    <div class="row control-group">
      <div class=" col-10 form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.time, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
      
      <div class="col-5 form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.freq1, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
      
      <div class="col-5 form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.freq2, class="form-control")}}
        
        <p class="help-block text-danger"></p>
      </div>
    </div>
      <div class="col-12">
        <button class="col-10 btn btn-dark" type="submit">Record / Play</button>
      </div>
      <p><br></p>
      <h4>After recording your audio, you can continue processing</h4>
      {% if flag %}
      <h4>This is what you 've recorded:</h4>
      <audio controls>
        <source src="{{ url_for('static',filename='audio/record.wav') }}" type="audio/wav">
      </audio>
    </form>
      <form id="upload"action="/processing" method="POST">
        <div class="col-12">
          <button class="col-8 btn btn-dark" type="submit">Process</button>
        </div>
      </form>
    {% endif %}
    
  
      
    </div>
  </div>
  
  {% endblock %}
  